@import "../variables.scss";

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 1em;
  margin: .5em;
  padding: 0;
  border: 1px solid $dark-grey;
  @include linear-gradient($body-light, $body-light2);
  box-shadow: $shadow;
  h2 {
    @include linear-gradient($dark-grey, $light-grey);
    border-bottom: 3px solid $highlight-dark;
    margin: 0;
    padding: .5em;
    color: $background;
  }
  table {
    margin: 1em;
    width: 100%;
  }
  td {
    padding: .5em;
    font-size: 1.2em;
    font-weight: 900;
    text-align: left;
    overflow: scroll;
    max-height: 100px;
  }
  .section {
    font-weight: 300;
    text-align: left;
  }
  h5 {
    @include linear-gradient($dark-grey, $light-grey);
    border-top: 1px solid $highlight-dark;
    margin: 0;
    padding: 1em;
    color: $body-light2;
    text-align: right;
    &:hover {
      color: $highlight-dark;
      cursor: pointer;
    }
  }
  .table-container {
    height: 100%;
  }
  p {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.selected-card {
 background: #C23D44;
}
