@import "../variables.scss";

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .load-more {
    display: flex;
    justify-content: center;
    width: 100%;
    // column-span: 3;
  }
}
